<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.facebook.com/groups/1084845094878534/?ref=bookmarks">Django Girls Niterói</a></h1>
        </div>

        {%for post in posts %}
            <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>
            <p>Publicado: {{ post.published_date }}</p>
          </div>
        {% endfor %}

            <h3><a href="">Agredecimento</a></h3>
            <p>Agradecimento a todos da equipe que organizaram o evento quanto os que participaram interessados na liguagem de programação. Esse coletivo fez do evento além de acontecer um empurrão para os que ainda não tinham entrado e convivido com o pessoal da programação.</p>
	   <p>Atualizado: 23/06/2015 23:50</p>
	   <p>Por: Glauber GF (mcnd2)</p>
    </body>
</html>
